@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}


<form id="formLogin" asp-controller="auth" asp-action="login" method="post">
    <div>
        <div class="card" style="
     margin-top: 150px;">
            <div class="card-body">
                <div class="card-title h1 text-center mb-3">Login</div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="Email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="Password" class="form-control" id="password" placeholder="****">
                </div>

                <div class="d-flex justify-content-center mb-3">
                    <button class="btn btn-primary">
                        Login
                    </button>
                </div>
                <div class="text-center">
                    <p>Belum punya akun? <a asp-action="Regist">Daftar</a></p>
                </div>
            </div>


        </div>

    </div>
</form>
<script>
    $("#formLogin").validate({
        errorClass:"text-danger",
        rules: {
            Email: {
                required: true
            },
            Password: {
                required: true
            }
        },
        messages: {
            Email: {
                required: "Email harap diisi!"
            },
            Password: {
                required: "Password harap diis!"
            }
        }
    })
</script>

